<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Contacts</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>

<body>
	<header>	
		<h1>Zombie Apocalypse Now</h1>
		<h3>Who is still alive to take your call?</h3>
		<form>
			<input type="search" name="contactSearch" placeholder="Search Contacts">
			<button type="submit" id="contactSearch">Search</button> 
		</form>
		<br>
		<nav>
			<button id="showAlive">Alive Contacts</button>
			<button id="showDead">Dead Contacts</button>
			<button id="showUndead">Undead Contacts</button>
		</nav>
	</header>
	<hr>

	<div class="container">
		
		<div id="showForm" class="col-sm-5">
			<form id="newContact">Add New Contact
				<br><br>
				<label>Name:
					<input type="text" name="name" placeholder="Michonne">
				</label>
				<br>
				<label>Age:
					<input type="text" name="age" placeholder="33">
				</label>
				<br>
				<label>Address:
					<input type="text" name="address" placeholder="534 Katana Way, Atlanta, GA 35927">
				</label>
				<br>
				<label>Phone Number:
					<input type="text" name="phoneNumber" placeholder="452-485-2895"> 
				</label>
				<br>
				<label>Category:
					<select id="category">
						<option id="default">This person is...</option>
						<option>Alive</option>
						<option>Dead</option>
						<option>Undead</option>
					</select>
				</label>
				<br><br>
				<button>Add Contact</button>
			</form>
		</div>

		<div class="col-sm-7 display">
		</div>
	</div>

	<!--- Libraries -->

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
  <script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>

  <!--- Templates -->

  <script type="text/template" id="contact-template">
  		<h3>Name: <%= name %></h3>
  		<img src= <%= picture %>>
  		<ul>
  			<li>Age: <%= age %></li>
  			<li>Address: <%= address %></li>
  			<li>Phone Number: <%= phone_number %></li>
  		</ul>
  		<button data-action="edit">edit</button>
  		<button data-action="destroy">delete</button>
  </script>

  <script type="text/template" id="contact-list-view">
		<h2><%= category_name %></h2>
	</script>

  <script type="text/template" id="contact-edit-template">
  	<form>
  		<label>Name:
				<input type="text" name="name" value= <%= name %>>
			</label>

			<label>Picture:
				<input type="text" name="picture" value=<%= picture %>>
			</label>

			<label>Age:
				<input type="text" name="age" value= <%= age %>
			</label>
			
			<label>Address:
				<input type="text" name="address" value= <%= address %>
			</label>
		
			<label>Phone Number:
				<input type="text" name="phoneNumber" value= <%= phone_number %> 
			</label>

			<label>Category:
				<select id="category">
					<option>This person is...</option>
					<option>Alive</option>
					<option>Dead</option>
					<option>Undead</option>
				</select>
			</label>
  	</form>
  	<button id="submit">submit changes</button>
  	<button id="cancel">cancel</button>
  </script>

  <!--- Backbone App -->
  <script type="text/javascript" src="/javascripts/backbone/contact.js"></script>

  <!--- <script type="text/javascript" src="/javascripts/backbone/category.js"></script> -->

  <script type="text/javascript" src="/javascripts/scripts.js"></script>

  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
 
</body>

</html>	